<html xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<div id="app">
    <div th:insert="fragments/navbar :: navbar"></div>

<div class="tasklists">

    <b-card v-for="tasklist in tasklists" align="center">
        <b-card-title @click="toggleEdit()">

            <div v-if="edit">
                Tasklist Name: <input v-model="tasklist.taskListName">
            </div>
            <div v-else>
            {{ tasklist.taskListName }}
            </div>


        </b-card-title>

        <b-card-text>
            <br/>
            Here you will find overview details of the tasklist like total time and total cost, time so far and cost so far.
        </b-card-text>
        <b-card-text>
            Users:<br/>
            <li v-for="user in tasklist.users" >
                {{ user.username }}
            </li>

            <a :href="'/tasklist/' + tasklist.id">Go to tasklist {{ tasklist.id }}</a>
        </b-card-text>
        <span slot="footer">
            <b-button @click="deleteTaskList(tasklist)">Delete this list</b-button>
            <b-button>Invite users</b-button>
            <b-button v-b-modal="modal">Details</b-button>
            <b-modal id="modal">Modal: {{ tasklist }}</b-modal>
        </span>

    </b-card>
</div>

    <b-button @click="newTaskList()">Create a new TaskList</b-button>

</div>

</body>


<script th:inline="javascript">
    var th_username = [[${user.getUsername()}]];
</script>

<script src="/js/dashboard.js"></script>
</html>