<html xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<div id="app">
<div th:insert="fragments/navbar :: navbar"></div>

<div>
    <b-jumbotron header="Count the Cost" lead="A Time Money TaskList">
        <p>v0.1</p>
    </b-jumbotron>
</div>

Welcome to TimeMoneyTaskList

The ultimate tool for organizing money, time, and tasks.

<a href="/dashboard"> Click to go to your dashboard</a>
</div>
</body>
<script>

    new Vue({
        el: "#app"
    })
</script>
</html>