<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Add this after vue.js -->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <!-- For icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div id="app">


    <task v-for="task,index in tasks"
          :task="task"
          :key="index"
          :index="index"
          v-on:add-child="addChild($event)"
          v-on:delete-task="deleteTask($event)"
          v-on:toggle-edit="toggleEdit($event)"
    ></task>

    <button @click="addRoot()">Add a Root Task</button>

    <pre v-if="debug"> {{ tasks }} </pre>
</div>

<template id="task">
    <div class="task" :style="indent">

        <!-- Normal display -->
        <div v-if="!task.edit">

            <i class="fas fa-edit"  v-on:click="$emit('toggle-edit', index)"></i>
            <i class="fas fa-plus"  v-on:click="$emit('add-child', [task, index])"></i>
            <i v-if="!task.children" class="fas fa-trash" v-on:click="$emit('delete-task', [task, index])"></i>
            <i class="fas fa-ban" title="Disable feature not available yet"></i>
            <b :id="'task'+index" :title=task.label >{{ task.label }}</b>

            <b-popover :target="'task'+index">
                <table>
                    <tr><td>Initial Cost Estimate: </td><td>${{ task.estimatedCost }}</td></tr>
                    <tr><td>Initial Time Estimate: </td><td>{{ task.estimatedTime }} hours</td></tr>
                    <tr><td>Date Created</td><td>{{ task.createdDate }}</td></tr>
                </table>
            </b-popover>

            <span v-if="!task.children">
            Cost: ${{ task.cost }}
            Time: {{ task.time }} hours
            </span>
            <span v-else>
            Total Cost: ${{task.cost}}
            Total Time: {{ task.time }} hours
            </span>

        </div>

        <!-- Edit mode -->
        <div v-if="task.edit">

            <i class="fas fa-save" v-on:click="$emit('toggle-edit',index)"></i>
            <i v-if="!task.children" class="fas fa-trash" v-on:click="$emit('delete-task', [task, index])"></i>
            Label: <input v-model="task.label">
            Cost Estimate: <input v-model="task.estimatedCost">
            Time Estimate: <input v-model="task.estimatedTime">
            Complete? <input type="checkbox" v-model="task.complete">
        </div>


    </div>
</template>
</body>

<script src="todo-list.js"></script>
<script>

    function Task(label, depth) {
        this.label = label;
        this.depth = depth;
        this.children = false;
        this.edit=false;
        this.estimatedTime=0;
        this.estimatedCost=0;
        this.time=0;
        this.cost=0;
        this.complete = false;
        this.createdDate = new Date().toDateString();
        this.description = function() {
            return this.label + " "  + this.depth;
        }
    }

    Vue.component('task', {
        template: '#task',
        props: ['task','index'],
        computed: {
            indent() {
                return { transform: `translate(${this.task.depth * 30}px)` }
            },
            description() { // Used for more details
                return  this.task.label + " " + this.estimatedTime
            }
        }
    });

    init = [new Task("All Tasks",0)];


    function reindex(tasks) {
        console.log("Reindex triggered");

        function setParent(task){
            task.children=true;
            console.log("index of parent:" + tasks.indexOf(task));

            // figure out who my children are and add up the cost
            let childrenArr = [];
            let computedCost = 0;
            let computedTime = 0;
            let completedCost = 0;
            let completedTime = 0;
            let remainingCost = 0;
            let remainingTime = 0;
            for (var i = tasks.indexOf(task)+1; i < tasks.length; i++) {
                if (tasks[i].depth == task.depth+1) {
                    childrenArr.push(tasks[i]);
                    computedCost += parseFloat(tasks[i].cost);
                    computedTime += parseFloat(tasks[i].time);
                    if (tasks[i].complete) {
                        completedCost += parseFloat(tasks[i].completedCost);
                        completedTime += parseFloat(tasks[i].time);
                    }

                } else if (tasks[i].depth > task.depth+1) {
                    // Grandchild, do nothing
                } else if (tasks[i].depth < task.depth+1) {
                    //Another parent of sibling, break out of the loop
                    break;
                }
            }

            //if the computed cost is greater then 0, alter the cost to equal that, otherwise use the estimated cost
            if(computedCost > 0) { task.cost = computedCost; } else {task.cost = task.estimatedCost; }
            if(computedTime > 0) { task.time = computedTime; } else {task.time = task.estimatedTime; }

            return task;
        }

        function setChild(task) {
            task.children=false;
            task.cost = task.estimatedCost;
            task.time = task.estimatedTime;
            return task;
        }

        // Loop through every task backwards so we start with children first
        for (var i = tasks.length-1; i >=0; i--) {
            if (tasks[i+1]!==undefined) {
                if (tasks[i+1].depth> tasks[i].depth) {
                    //parent logic
                    console.log("Parent")
                    tasks[i] = setParent(tasks[i]);
                } else { tasks[i] = setChild(tasks[i]); }

            } else { tasks[i] = setChild(tasks[i]) };  // This executes only once

        } // End of for loop
        return tasks;
    }

    new Vue({
        el: '#app',
        data: {
            tasks: init,
            debug: true
        },
        methods: {
            addRoot() {
                newTask = new Task('',0);
                newTask.edit=true;
                this.tasks.splice(0,0,newTask)
            },
            addChild(parentIndexArray) {
                parentTask = parentIndexArray[0];
                index= parentIndexArray[1];
                newTask = new Task('',parentTask.depth+1);
                newTask.edit=true;
                this.tasks.splice(index+1,0,newTask);
                this.tasks = reindex(this.tasks);
            },
            deleteTask(taskToDeleteArray) {
                taskToDelete = taskToDeleteArray[0];
                index = taskToDeleteArray[1];
                console.log(index);
                this.tasks.splice(index,1);
                this.tasks = reindex(this.tasks);
            },
            toggleEdit(index) {
                this.tasks[index].edit = !this.tasks[index].edit;
                this.tasks = reindex(this.tasks);
            }

        }
    })




</script>

</html>